<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Product showcase</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="btn btn-link" (click)="onHome()">Home</button>
      <button class="btn btn-link" (click)="onWelcome()">Welcome</button>
      <button class="btn btn-link" (click)="onCalculator()">Calculator</button>
      <button class="btn btn-link" (click)="onForms()">Funny forms</button>
    </div>
  </div>
</nav>
